[submodule "src/builder/argparse"]
	path = src/builder/argparse
	url = https://github.com/CavefulGames/argparse-lune
[submodule "src/tests/frktest"]
	path = src/tests/frktest
	url = https://github.com/itsfrank/frktest
